body {
  background:  linear-gradient( 50deg, rgb(0, 0, 0), rgb(23rgb(85, 45, 131)255, 255, 255), rgb(114, 56, 56) ); 
  padding: 0;
  margin: 0;
}

.img-logo{
  width: 100%;
  height: 35em;
  opacity: 0.9;
}

.home-navbar {
  width: 3em;
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  background:  linear-gradient( 50deg, rgb(181, 77, 21), rgb(135, 31, 31), rgb(107, 38, 38), rgb(120, 39, 39) ); 
  z-index: 99;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav a {
  color: #fff;
  margin: auto 20px auto 40px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

nav li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

.container {
  position: relative;
  display: block;
  transform: translate(10px, 5em);
}

.card-header {
  position: relative;
}

.footer-clean {
  padding:50px 0;
  background-color:rgb(230, 169, 184);
  color:#ff5100;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid rgb(255, 6, 6);
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:10px;
  margin-bottom:3em;
  font-size:13px;
  opacity:1;
}

/* Credit to https://epicbootstrap.com/snippets/footer-with-columns */

.copyright{
  width: 16em;
}

footer {
  width: 94%;
}

.card1 {
margin: -60px 30px 0px;
background-color: rgba(255, 255, 255, 0.774);
box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
border-radius: 6px;
}

.card2 {
z-index: 3;
position: relative;
background: #FFFFFF;
}



 

.mapa-responsivo{

  overflow:hidden;

  padding-bottom:50%;

  position:relative;

  height:50%;

}

.mapa-responsivo iframe{

  left:5%;

  top:10%;

  height:90%;

  width:90%;

  position:absolute;

}


